.editGameCards {
	width: 100%;
}
.editBannerHeader {
	font-size: 1.5rem;
	font-weight: 400;
}
.addSectionBtn {
	margin-top: 1rem;
}

.saveBtn {
	margin-top: 1rem;
}
.okBtn {
	width: 100%;
	padding: 0.5rem 1rem;
	border-radius: 4px;
	background-color: #388e3c;
	color: white;
}
