.profileImg {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.rightPart {
    display: flex;
    align-items: center;
    padding-right: 1rem;
}

@media only screen and (max-width: 768px) {
    .rightPart {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
}
