.gearButton {
	border: none;
	background: none;
	padding: 0.625em;
	height: 100%;
	cursor: pointer;
}
.gearButton > span {
	width: 0.75rem;
	height: 0.75rem;
	display: block;
}
.gearButton > span > svg {
	width: 100%;
	height: 100%;
}
