.filterOptions {
  margin-bottom: 3rem;
}
.filterTitle {
  position: relative;
  cursor: pointer;
  transition: filter 200ms;
  user-select: none;
  -webkit-user-select: none;
}

.downArrow {
  position: absolute;
  width: 23px;
  scale: 0.5;
  right: 0;
  top: -3px;
  rotate: 180deg;
  transform: rotateY(180deg);
}

.optionList {
  transition: height 300ms;
  overflow: hidden;
}
