.filterOptions {
  margin-bottom: 3rem;
}
.filterTitle {
  width: 100%;
  background-color: transparent;
  border: none;
  position: relative;
  cursor: pointer;
  transition: filter 200ms;
  user-select: none;
  -webkit-user-select: none;
  text-align: left;
}
.title {
  color: rgb(207, 207, 207);
  font-weight: 400;
}

.downArrow {
  position: absolute;
  width: 0.7rem;
  height: 0.7rem;
  right: 0;
  top: 50%;
  translate: 0 -50%;
  rotate: 180deg;
  transform: rotateY(180deg);
}

.optionList {
  transition: height 300ms;
  overflow: hidden;
}
