.specsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.specs {
  flex-grow: 1;
  padding: 10px;
  margin-top: 30px;
}

@media screen and (max-width: 1895px) and (min-width: 1024px) {
  .specs {
    max-width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .specs {
    width: 100%;
  }
}

