.gameCards {
	width: 75%;
	margin-bottom: 3rem;
}

.cardsContainer {
	list-style: none;
	display: grid;
	padding: 0.625em 0.3125em;
	grid-template-columns: repeat(5, 1fr);
	gap: 3rem 1rem;
}
.pagination {
	margin-top: 3rem;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media only screen and (max-width: 160rem) and (min-width: 54.0625rem) {
	.cardsContainer {
		grid-template-columns: repeat(4, 1fr);
	}
}
@media only screen and (max-width: 54rem) and (min-width: 48.0625rem) {
	.gameCards {
		width: 70%;
	}
	.cardsContainer {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media only screen and (max-width: 48rem) and (min-width: 34.5625rem) {
	.cardsContainer {
		grid-template-columns: repeat(3, 1fr);
	}
}
@media only screen and (max-width: 34.5rem) and (min-width: 15.625rem) {
	.cardsContainer {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media only screen and (max-width: 15.5625rem) {
	.cardsContainer {
		grid-template-columns: repeat(1, 1fr);
	}
}

@media only screen and (max-width: 48rem) {
	.gameCards {
		width: 100%;
	}
}

@media (hover: hover) and (pointer: fine) {
	.card {
		cursor: pointer;
	}
}
