.games {
	margin-bottom: 3rem;
	width: 100%;
	position: relative;
}

.headerButtonContainer {
	display: flex;
	align-items: center;
}

@media only screen and (max-width: 1023px) {
	.Games {
		padding: 0 1rem;
	}
}
