.GameColumn {
    display: flex;
    transition: background-color 300ms;
    padding: 0.4rem;
    margin: 0.3rem 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.GameColumn:hover {
    background-color: rgba(75, 75, 75, 0.473);
}

.image {
    width: 4rem;
    height: 100%;
}
.gameImage {
    width: 30%;
}
.gameDetails {
    width: 70%;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.name {
    font-size: 0.9rem;
    font-weight: 400;
    margin: 0;
}
