.modalBody {
	margin-top: 1rem;
}
.btnContainer {
	width: 100%;
	display: flex;
	margin-top: 1rem;
	gap: 1rem;
}

.checkPoint {
	margin-top: 1rem;
}

.deleteBtn {
	background-color: #cc2a24;
	color: white;
	border: none;
	font-size: 1rem;
	border-radius: 0.2rem;
	padding: 0.5rem 1rem;
	cursor: pointer;
	position: relative;
	margin-left: auto;
	display: inline-block;
}
.cancelBtn {
	background-color: #14a027;
	color: white;
	border: none;
	font-size: 1rem;
	border-radius: 0.2rem;
	padding: 0.5rem 1rem;
	cursor: pointer;
	position: relative;

	display: inline-block;
}
