.drawer {
  width: 25vw;
  max-width: 534px;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 1rem 0;
  background-color: #18181c;
}
.optionContainer {
  list-style-type: none;
  width: 100%;
}
@media (max-width: 1023px) and (min-width: 766px) {
  .drawer {
  }
}

@media only screen and (max-width: 768px) {
  .drawer {
  }
}

