.drawerContainer {
	position: sticky;
	width: 240px;
	background-color: #18181c;
	top: 0;
}
.containerTransition {
	transition: width 200ms;
}
.drawerImmediateContainer {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}
.drawerScrollContainer {
	margin-top: 3rem;
	position: relative;
	height: calc(100% - 3rem);
}
.containerCollapse {
	width: 3.2rem;
}

.drawer {
	width: 240px;
	height: calc(100vh - 72px - 3rem);
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-right: 6px;
	user-select: none;
}

.drawer::-webkit-scrollbar {
	display: none;
}
.optionContainer {
	flex-grow: 1;
	list-style-type: none;
	width: 100%;
}

.expandedPosition {
	right: -1rem;
}

.collapsePosition {
	right: 0.65rem;
}

.collapseButton {
	width: 2rem;
	height: 2rem;
	position: absolute;
	top: 0;
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.2);
	border: none;
	border-radius: 50%;
	box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}
.containerTransition .collapseButton {
	transition: right 200ms;
}

.arrowBtn {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.arrowBtn::before {
	content: '';
	position: absolute;
	top: 12px;
	transform-origin: center;
	translate: 0 -2px;
	width: 50%;
	height: 2px;
	background-image: linear-gradient(to left, #8200ff, #df00ff);
	border-radius: 0.5rem;
	rotate: -45deg;
}

.containerTransition .arrowBtn::before {
	transition: rotate 200ms;
}

.arrowBtn::after {
	content: '';
	position: absolute;
	transform-origin: center;
	top: 22px;
	width: 50%;
	height: 2px;
	translate: 0 -2px;
	background-image: linear-gradient(to left, #8200ff, #df00ff);
	rotate: 45deg;
	border-radius: 0.5rem;
}

.containerTransition .arrowBtn::after {
	transition: rotate 200ms;
}

.collapsePosition .arrowBtn::before {
	rotate: 45deg;
	background-image: linear-gradient(to right, #8200ff, #df00ff);
}
.collapsePosition .arrowBtn::after {
	rotate: -45deg;
	background-image: linear-gradient(to right, #8200ff, #df00ff);
}

.containerTransition .footer {
	transition:
		opacity 200ms,
		height 200ms 0ms,
		margin-top 200ms 0ms;
}

.containerTransition .footerHide {
	transition:
		opacity 200ms,
		height 0ms 200ms,
		margin-top 0ms 200ms;
}

@media only screen and (max-width: 1099px) {
	.drawerContainer {
		position: absolute;
		top: 0;
		left: 0;
		max-width: 240px;
		width: 100%;
		height: calc(100vh - 72px);
		background-color: #18181c;
		z-index: 3;
		transform-origin: 0 0;
		translate: -100%;
	}
	.containerTransition {
		transition: translate 200ms;
	}
	.arrowBtn::before {
		rotate: 45deg;
		background-image: linear-gradient(to right, #8200ff, #df00ff);
	}
	.arrowBtn::after {
		rotate: -45deg;
		background-image: linear-gradient(to right, #8200ff, #df00ff);
	}
	.collapsePosition .arrowBtn::before {
		rotate: -45deg;
		background-image: linear-gradient(to left, #8200ff, #df00ff);
	}
	.collapsePosition .arrowBtn::after {
		rotate: 45deg;
		background-image: linear-gradient(to left, #8200ff, #df00ff);
	}
	.drawer {
		width: 100%;
	}
	.containerCollapse {
		width: 100%;
		translate: 0%;
	}

	.expandedPosition {
		right: -1.6rem;
	}

	.collapsePosition {
		right: 0.65rem;
	}

	.shadow {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1;
	}
}
