.individualGameWriteReviewContainer {
	transition: height 200ms;
	overflow: hidden;
}

.individualGameWriteReview {
	padding: 24px;
	background: #303030;
	display: flex;
	margin-bottom: 40px;
}

.userDetails {
	width: 20%;
}

.name {
	font-size: 16px;
	margin-bottom: 10px;
}

.details {
	color: #a0a0a0;
	font-size: small;
}

.individualGameWriteReview {
	border-radius: 4px;
}
.reviewStarsContainer {
	margin-right: 10px;
	display: flex;
	align-items: center;
}

.reviewTitleContainer {
	display: flex;
	margin-bottom: 20px;
}
.writingField {
	width: 80%;
	position: relative;
}

.aspectRatioClassName {
	padding-bottom: 100%;
}

@media only screen and (max-width: 265px) {
	.individualGameWriteReview {
		padding: 0.5rem;
	}
}

@media only screen and (max-width: 512px) {
	.individualGameWriteReview {
		flex-direction: column;
	}
	.userDetails {
		width: 100%;
		margin-bottom: 30px;
	}
	.writingField {
		width: 100%;
	}
}
@media only screen and (max-width: 376px) {
	.reviewTitleContainer {
		flex-direction: column;
	}
	.writingField {
		width: 100%;
	}
}
