.individualGameWriteReviewContainer {
	transition: height 200ms;
	overflow: hidden;
}

.individualGameWriteReview {
	padding: 1.5em;
	background: #303030;
	display: flex;
	margin-bottom: 2.5rem;
}

.userDetails {
	width: 20%;
}

.userIcon {
	width: 50px;
}

.name {
	font-size: 1rem;
	margin-bottom: 0.625rem;
}

.details {
	color: #a0a0a0;
	font-size: small;
}

.individualGameWriteReview {
	border-radius: 4px;
}
.reviewStarsContainer {
	margin-right: 0.625rem;
	display: flex;
	align-items: center;
}

.reviewTitleContainer {
	display: flex;
	margin-bottom: 1.25rem;
}
.writingField {
	width: 80%;
	position: relative;
}

.aspectRatioClassName {
	padding-bottom: 100%;
}

@media only screen and (max-width: 16.5625rem) {
	.individualGameWriteReview {
		padding: 0.5rem;
	}
}

@media only screen and (max-width: 32rem) {
	.individualGameWriteReview {
		flex-direction: column;
	}
	.userDetails {
		width: 100%;
		margin-bottom: 1.875rem;
	}
	.writingField {
		width: 100%;
	}
}
@media only screen and (max-width: 23.5rem) {
	.reviewTitleContainer {
		flex-direction: column;
	}
	.writingField {
		width: 100%;
	}
}
