.sortContainer {
	position: relative;
	max-height: 100vh;
}
.sortDropDown {
	height: 100vh;
	position: relative;
}

@media only screen and (max-width: 768px) {
	.sortContainer {
		width: 100%;
		position: fixed;
		background-color: rgba(55, 55, 55);
		left: 0;
		bottom: 0%;
		z-index: 4;
		transition: translate 300ms;
	}
	.sortLists {
		width: 100%;
		position: relative;
		padding: 5px 10px;
		opacity: 1;
		scale: 1;
	}
	.sortLists h3 {
		padding: 5px;
	}
	.hidden {
		translate: 0 100%;
	}
	.closeButton {
		position: absolute;
		right: 10px;
		top: 10px;
		z-index: 1;
	}
}
