.imagePreviewContainer {
	position: absolute;
	overflow: hidden;
	z-index: 1;
	max-height: calc(100vh - 10rem);
	width: 100%;
}
.imagePreview {
	width: 100%;
	height: 100%;
	background-color: #18181c;
	border-radius: 4px;
	transform-origin: top center;
	transition: translate 200ms;
	translate: 0 -100%;
	display: flex;
	justify-content: center;
}

.imagePreview.show {
	translate: 0 0%;
}

.img {
	max-width: 100%;
	height: 100%;
	max-height: calc(100vh - 10rem);
	object-fit: contain;
}
