.CardsHeader {
    background-color: transparent;
    display: inline;
    color: rgb(222, 222, 222);
    cursor: pointer;
}

.arrow svg {
    width: 10px;
    height: 10px;
    transition: translate 100ms;
}

.CardsHeader:hover .arrow svg {
    translate: 100%;
}
