.editGameCardFirstPartContainer .editGameCardContainer:not(:last-child) {
	margin-bottom: 3rem;
}

.firstRowHeader {
	margin-top: 1rem;
	font-weight: 400;
	margin-bottom: 2rem;
}

.okBtn {
	width: 100%;
	padding: 0.5rem 1rem;
	border-radius: 4px;
	background-color: #388e3c;
	color: white;
}
