.btn {
  background-color: rgba(255, 255, 255, 0.05);
  position: relative;
  color: rgb(173, 173, 173);
  height: 100%;
  padding: 20px;
  font-size: medium;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  position: relative;
}

.btn:disabled {
  cursor: default;
  background-color: rgba(255, 255, 255, 0.02);
}

@media screen and (max-width: 768px) {
  .btn {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
