.addGameTags {
	width: 100%;
}
.optionsContainer {
	display: flex;
	width: 100%;
	margin-top: 1rem;
}
.options {
	width: 100%;
}
.options {
	padding: 0 0.625em;
}

.header {
	font-size: 1.3rem;
	font-weight: 400;
}

@media only screen and (max-width: 63.9375rem) and (min-width: 48.0625rem) {
	.header {
		font-size: 1.2rem;
	}
}

@media only screen and (max-width: 48rem) {
	.header {
		font-size: 1rem;
	}
}

@media screen and (max-width: 48rem) {
	.optionsContainer {
		display: block;
	}
	.options:last-child {
		margin-left: 0;
		margin-top: 0.625rem;
	}
}
