.dashboardBody {
	width: 75vw;
	max-width: 1600px;
	margin: 0 auto;
	padding: 3em 0;
	position: relative;
}

@media only screen and (max-width: 68.6875rem) {
	.dashboardBodyContainer {
		width: 100%;
	}
	.dashboardBody {
		width: calc(100% - 2rem);
		margin-top: 1rem;
	}
}
@media only screen and (max-width: 31.1875rem) {
	.dashboardBody {
		width: calc(100% - 1rem);
		margin-top: 1rem;
	}
}
