.dashboardBodyContainer {
  flex-grow: 1;
  overflow-y: auto;
  padding: 1rem 0;
}
.dashboardBody {
  width: 75vw;
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.dashboardBodyContainer::-webkit-scrollbar {
  width: 8px;
}

.dashboardBodyContainer::-webkit-scrollbar-track {
  background: #121212;
}

.dashboardBodyContainer::-webkit-scrollbar-thumb {
  background: #474747;
  border-radius: 5px;
  opacity: 0;
}

.dashboardBodyContainer::-webkit-scrollbar-thumb:hover {
  background: rgb(82, 82, 82);
  opacity: 0;
}

.dashboardBodyContainer::-webkit-scrollbar-thumb:active {
  background: rgb(114, 114, 114);
}
@media only screen and (max-width: 1099px) {
  .dashboardBodyContainer {
    width: 100%;
  }
  .dashboardBody {
    width: 100%;
    padding: 0 1rem;
  }
}
