.container {
  position: relative;
  width: 100%;
}
.overflow {
  overflow: hidden;
}
.button {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 4px;
  border: 2px solid transparent;
  cursor: pointer;
  transition: border 200ms cubic-bezier(0, 0, 0.2, 1);
  font-size: 1rem;
}
.label {
  position: absolute;
  user-select: none;
  left: 10px;
  top: 50%;
  scale: 1;
  translate: 0 -50%;
  transform-origin: 0 0;
  pointer-events: none;
  color: rgb(173, 173, 173);
  transition:
    scale 200ms cubic-bezier(0, 0, 0.2, 1),
    translate 200ms cubic-bezier(0, 0, 0.2, 1),
    color 200ms cubic-bezier(0, 0, 0.2, 1);
}
#selected,
#selected button {
  opacity: 0.5;
  cursor: default;
}

.field {
  width: 100%;
  outline: none;
  font-size: 1rem;
  background: transparent;
  padding: 25px 10px 15px 10px;
  color: rgb(173, 173, 173);
  border: none;
  pointer-events: none;
  padding-right: 30px;
  text-overflow: ellipsis;
  user-select: none;
}

.focused {
  translate: 0 -25px;
  scale: 0.7;
  color: rgb(2, 99, 224);
}
.textFilled {
  translate: 0 -25px;
  scale: 0.7;
  color: rgb(140, 140, 140);
}
.focusBorder {
  border: 2px solid rgba(1, 81, 185, 0.733);
}

.listContainer {
  position: absolute;
  width: 100%;
  border-radius: 4px;
  background-color: rgb(37, 37, 37);
  cursor: default;
  list-style: none;
  opacity: 0;
  pointer-events: none;
  transition: opacity 200ms;
  z-index: 1;
  max-height: 410px;
}
.listScrollContainer {
  position: relative;
  padding: 10px 10px 0px 10px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: auto;
  height: 100%;
  max-height: 410px;
}
.list::-webkit-scrollbar {
  display: none;
}

.showBottom {
  top: 100%;
}

.showAbove {
  bottom: 100%;
}

.list::-webkit-scrollbar {
  width: 8px;
}

.list::-webkit-scrollbar-track {
  background: rgb(37, 37, 37);
}

.list::-webkit-scrollbar-thumb {
  background: #474747;
  border-radius: 5px;
  opacity: 0;
}

.list::-webkit-scrollbar-thumb:hover {
  background: rgb(82, 82, 82);
  opacity: 0;
}

.list::-webkit-scrollbar-thumb:active {
  background: rgb(114, 114, 114);
}

.show {
  opacity: 1;
  pointer-events: all;
}

.item {
  position: relative;
}

.item button {
  width: 100%;
  padding: 10px 0;
  cursor: pointer;
  height: 100%;
  background-color: transparent;
  color: rgb(140, 140, 140);
  border: none;
  font-size: 1rem;
  text-align: center;
  transition: color 200ms;
}

.noDataItem {
  width: 100%;
  text-align: center;
  color: rgb(140, 140, 140);
  font-size: 1rem;
  padding: 10px 0;
}

.item button:hover button {
  color: rgb(196, 196, 196);
}
.item button:hover::after {
  background-color: rgb(196, 196, 196);
}

.item:not(:last-child)::after {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  left: 0;
  bottom: 0;
  transition: background-color 200ms;
}

.rotateArrow {
  width: 12px;
  height: 12px;
  position: absolute;
  right: 10px;
  top: 50%;
  translate: 0 -50%;
}
@media screen and (max-width: 768px) {
  .label {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .focused {
    font-size: 10px;
  }
  .item button,
  .input {
    font-size: 12px;
  }
  .list {
    max-height: 360px;
  }
}
