.individualGame {
  width: 75vw;
  max-width: 1600px;
  display: flex;
  position: relative;
}

@media (max-width: 1023px) {
  .individualGame {
    width: 97vw;
    flex-direction: column-reverse;
  }
}
