.carousel {
	display: hidden;
	top: 0;
	position: absolute;
	opacity: 0;
	visibility: hidden;
	z-index: 0;
}
.carousel_active {
	z-index: 1;
	position: absolute;
	opacity: 1;
	transition-duration: 4s;
}
.carousel_fadeIn {
	top: 0;
	position: absolute;
	z-index: 0;
	animation: fadeIn 200ms cubic-bezier(0.69, 0, 0.83, 0.83) 50ms 1 normal
		backwards;
}
.carousel_logo_fadeIn {
	animation: ImgfadeIn 200ms ease-in 250ms 1 normal backwards;
}
.carousel_fadeOut {
	position: absolute;
	animation: fadeout 300ms cubic-bezier(0.69, 0, 0.83, 0.83) 0s 1 normal
		forwards;
}
.width-100 {
	width: 100%;
}
.coverImg {
	border-radius: 5px;
	aspect-ratio: 1.77777778/1;
}
.carouselInfo {
	position: absolute;
	top: 0;
	left: 3%;
	height: 100%;
	width: 20%;
	display: grid;
	grid-template-rows: 1.3fr 1fr;
}
.carouselImgDiv {
	display: flex;
	align-items: flex-end;
	height: 100%;
}
.carouselDes_h5 {
	margin: 0;
	margin-top: 1rem;
	color: white;
}
.carousel_btn_1 {
	display: inline-block;
	position: absolute;
	padding: 0px 20px;
	height: 50px;
	margin-top: 1rem;
	border: none;
	border-radius: 5px;
	transition: background-color 0.5s;
}
.carousel_btn_1:hover {
	background-color: rgba(255, 255, 255, 0.884);
	cursor: pointer;
}
.carousel_btn_1:active {
	background-color: rgba(255, 255, 255, 0.507);
	transition: all 0.1s;
	cursor: pointer;
}
.carouselPrice {
	position: relative;
}

@keyframes fadeout {
	0% {
		translate: 0;
		opacity: 1;
	}
	100% {
		translate: -10%;
		opacity: 0;
	}
}
@keyframes fadeIn {
	0% {
		opacity: 0;
		translate: 5%;
	}
	100% {
		translate: 0%;
		opacity: 1;
	}
}
@keyframes ImgfadeIn {
	0% {
		opacity: 0;
		translate: 25%;
	}
	100% {
		opacity: 1;
		translate: 0;
	}
}
