.addGameDescriptions {
	margin: 3rem 0;
}
.sortDescription {
	margin: 20px 0;
}

.buttonContainer {
	display: flex;
	flex-wrap: wrap;
}

.btn,
.mainBtn {
	margin-right: 20px;
	margin-top: 20px;
}
.header {
	font-size: 1.3rem;
	font-weight: 400;
}

@media only screen and (max-width: 1023px) and (min-width: 769px) {
	.header {
		font-size: 1.2rem;
	}
}

@media only screen and (max-width: 768px) {
	.header {
		font-size: 1rem;
	}
}
