.reviewStar {
  display: flex;
  align-items: center;
}

.starButton {
  background: none;
  border: none;
  padding: 3px;
  cursor: pointer;
}
.starButton:disabled {
  cursor: default;
  user-select: none;
}
.starButton img {
  width: 20px;
  height: 20px;
}
