.container {
	width: 100%;
}

.gamesShowcaseContainer {
	overflow: hidden;
	padding: 1rem 0;
	width: 100%;
}

.gamesShowcase {
	display: flex;
	list-style: none;
	margin: 0 -1rem;
}
.arrowBtn {
	position: -o-sticky;
	position: sticky;
	top: 550px;
}
.prevBtn {
	width: 1rem;
	rotate: -90deg;
}
.nextBtn {
	width: 1rem;
	rotate: 90deg;
}

@media only screen and (max-width: 48rem) {
	.gamesShowcase {
		position: relative;
	}
	.transition {
		transition: translate 300ms;
	}
}
