.adaptiveGameCards {
	width: 100%;
	margin-bottom: 4rem;
}

.adaptiveGameCardsContainer {
	overflow: hidden;
	padding: 1rem;
	margin: -1rem;
}

.adaptiveGameCardsList {
	width: 100%;
	list-style-type: none;
	display: flex;
	gap: 20px;
}

.transition {
	transition: translate 300ms;
}
