.DiscountPrice {
    width: 100%;
    height: 100%;
    color: rgb(226, 226, 226);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.regular {
    color: rgb(145, 145, 145);
    display: inline-block;
}
