.cardDots {
	position: absolute;
	right: 0.5rem;
	top: 0.5rem;
	width: 2.5rem;
	height: 2.5rem;
}

.nameContainer {
	font-weight: 600;
}

.btnDot {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 50%;
	padding: 5px;
	border: none;
	cursor: pointer;
	opacity: 0;
	scale: 0.5;
	transition:
		opacity 200ms,
		scale 200ms;
}

.btnDot:hover {
	background-color: rgba(0, 0, 0, 0.6);
}

.btnDot:active {
	background-color: rgba(0, 0, 0, 0.4);
}

.listContainer {
	position: absolute;
	list-style: none;
	background-color: #252525;
	padding: 5px 10px;
	border-radius: 4px;
	top: calc(100% + 5px);
	left: 50%;
	translate: -50%;
	z-index: 1;
	opacity: 0;
	scale: 0.5;
	transition:
		opacity 200ms,
		scale 200ms;
}

.zoomIn {
	opacity: 1;
	scale: 1;
}

.listContainer li button {
	width: 100%;
	background-color: transparent;
	border: none;
	color: #ffffff95;
	font-size: 14px;
	text-align: center;
	text-wrap: nowrap;
	margin: 5px 0;
	transition: color 200ms;
}

.listContainer li button:hover {
	color: rgba(255, 255, 255, 0.9);
}

.listContainer li button::after {
	content: '';
	display: block;
	width: 100%;
	height: 2px;
	background-color: #333;
	margin-top: 5px;
	transition: background-color 200ms;
}

.listContainer li button:hover::after {
	background-color: #444;
}

@media (hover: hover) and (pointer: fine) {
	.listContainer li button {
		cursor: pointer;
	}
}
