.addGameCardContainer {
	transition: height 200ms;
	margin-bottom: 2rem;
}
.confirmBtn {
	width: 100%;
	background-image: linear-gradient(to right, #8200ff, #df00ff);
	color: white;
	border: none;
	padding: 1em 2em;
	border-radius: 0.2rem;
	cursor: pointer;
	display: block;
	margin-left: auto;
	margin-top: 1rem;
	position: relative;
}
