.tag {
	flex-grow: 1;
	min-width: 230px;
}
.tagHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.tagHeader h3 {
	font-weight: 400;
	margin: 1rem 0;
}

.tagList {
	list-style: none;
	width: 100%;
}
.tagListItem {
	display: flex;
	padding: 0.5rem 0;
	position: relative;
	justify-content: space-between;
	gap: 1rem;
}
.tagListItem:not(:last-child)::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	background-color: rgba(255, 255, 255, 0.3);
	left: 0;
	bottom: 0;
}

.tagItem {
	word-break: break-all;
}

.crossBtn {
	width: 1.5rem;
	height: 1.5rem;
	flex-shrink: 0;
	background-color: transparent;
	border: none;
	background-color: #ffffff2d;
	border-radius: 50%;
	overflow: hidden;
	cursor: pointer;
	transition: background-color 100ms;
}
.crossBtn:hover {
	background-color: rgba(255, 255, 255, 0.13);
}
.crossBtn:active {
	background-color: #42424200;
}
.cross {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 100%;
}
.cross::after,
.cross::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 0.1rem;
	background-color: #8b8b8b;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	transition: background-color 200ms;
}
.cross::after {
	rotate: 45deg;
}
.cross::before {
	rotate: -45deg;
}

@media only screen and (max-width: 264px) {
	.tag {
		min-width: 100%;
	}
}
