.individualGameOrderBy {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}

.activeOrderContainer {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.orderOptions {
  list-style-type: none;
  position: absolute;
  background-color: rgb(68, 68, 68);
  padding: 5px;
  top: calc(100% + 5px);
  right: 0;
}

.activeOrder {
  font-size: small;
  color: #969696;
}

.orderChangeablePart {
  color: #cfcfcf;
}

.orderOption {
  width: 100%;
}

.optionBtn {
  width: 100%;
  background-color: rgb(18, 18, 18);
  border: none;
  padding: 3px 5px;
  color: #969696;
  transition:
    color 200ms,
    background-color 200ms;
  cursor: pointer;
}
.activeBtn {
  background-color: rgb(46, 46, 46);
  color: #999999;
  cursor: default;
}

.orderOption:not(:last-child) {
  margin-bottom: 2px;
}

.rotateArrow {
  margin-left: 5px;
  width: 10px;
  height: 10px;
  position: relative;
}
