.toolTips {
	background-color: #1b1b1b;
	position: absolute;
	opacity: 0;
	transition: opacity 300ms;
	z-index: 1;
	border-radius: 4px;
	max-width: 250px;
	width: max-content;
}

.toolTips p {
	color: white;
	font-size: 12px;
	padding: 1rem;
	opacity: 0.8;
}

.top {
	bottom: 100%;
	left: 50%;
	translate: -50% -10px;
}

.bottom {
	top: 100%;
	left: 50%;
	translate: -50% 10px;
}

.left {
	right: 100%;
	top: 50%;
	translate: -10px -50%;
}

.right {
	left: 100%;
	top: 50%;
	translate: 10px -50%;
}

.fadeIn {
	opacity: 1;
}

.bottom::before,
.bottom::after,
.top::before,
.top::after,
.left::before,
.left::after,
.right::before,
.right::after {
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: #1b1b1b;
}

.bottom::before,
.left::before,
.right::before,
.top::before {
	rotate: 45deg;
}
.bottom::after,
.left::after,
.right::after,
.top::after {
	rotate: -45deg;
}

.bottom::before,
.bottom::after {
	bottom: 100%;
	left: 50%;
	translate: -50% 5px;
}

.left::before,
.left::after {
	top: 50%;
	left: 100%;
	translate: -5px -50%;
}

.right::before,
.right::after {
	top: 50%;
	right: 100%;
	translate: 5px -50%;
}

.top::before,
.top::after {
	top: 100%;
	left: 50%;
	translate: -50% -5px;
}
