.videoContainer:not(:fullscreen) {
	width: 100%;
	position: relative;
	padding-bottom: calc(9 / 16 * 100%);
}
.videoContainer:fullscreen .video {
	position: absolute;
	left: 50%;
	top: 0;
	translate: -50%;
}
