.BrowseHeader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.NumberOfGames {
    font-size: 22px;
    font-weight: 600;
    margin: 0;
}
.button {
    background-color: transparent;
    color: rgb(153, 153, 153);
    border: none;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Inter';
    margin-right: 5px;
    position: relative;
    padding-right: 1rem;
    cursor: pointer;
}
.button span {
    color: rgb(222, 222, 222);
}
.downArrow {
    position: absolute;
    top: 3px;
    right: 0;
    rotate: -90deg;
}
.RightSide {
    position: relative;
}
.sortLists {
    position: absolute;
    width: 100%;
}

.sortLists ol {
    margin: 0;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px;
    width: calc(100% - 20px);
    list-style: none;
    display: flex;
    flex-direction: column;
}
.sortLists ol li {
    margin-top: 5px;
}
.sortLists ol:last-child li {
    margin-bottom: 5px;
}
.sortButtons {
    width: 100%;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.6);
    padding: 5px;
    text-align: left;
    border: none;
    cursor: pointer;
}
