.container {
  width: 100%;
  position: relative;
  background-color: rgba(255, 255, 255, 0.05);
  height: 100%;
  border-radius: 4px;
  overflow: hidden;
}
.label {
  width: 100%;
  position: absolute;
  top: 28px;
  translate: 0 -50%;
  left: 10px;
  pointer-events: none;
  color: rgb(173, 173, 173);
  transition: top 0.2s ease, font-size 0.2s ease, translate 0.2s ease, color 0.2s ease;
}
.field {
  width: 100%;
  outline: none;
  font-size: medium;
  background: transparent;
  padding: 25px 10px 15px 10px;
  color: rgb(173, 173, 173);
  border: none;
}

.focused {
  top: 0%;
  translate: 0 5px;
  font-size: 12px;
  color: rgb(140, 140, 140);
}

.textarea {
  resize: vertical;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .label {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .focused {
    font-size: 10px;
  }
}
