.browseHeader {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.numberOfGames {
	font-size: 1.375rem;
	font-weight: 400;
}

@media only screen and (max-width: 74.9375rem) and (min-width: 48.0625rem) {
	.browseHeader {
		margin-left: 1rem;
		width: calc(100% - 1rem);
	}
}

@media only screen and (max-width: 48rem) {
	.numberOfGames {
		width: 100%;
	}
}
