.mixEventGameCards {
	width: 100%;
	margin-bottom: 4rem;
}

.mixEventGameListContainer {
	overflow: hidden;
}

.mixEventGameCardsList {
	width: 100%;
	list-style-type: none;
	display: flex;
	gap: 1.5rem;
}

.transition {
	transition: translate 300ms;
}
