.shadowPage {
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
}

#shadowShow {
	opacity: 1;
	visibility: visible;
	transition: opacity 200ms linear;
}
#shadowHide {
	opacity: 0;
	visibility: hidden;
	transition:
		opacity 200ms linear,
		visibility 0ms 200ms linear;
}
@media (pointer: coarse) {
	.shadowPage {
		width: 100vw;
	}
}
