.ChangeEventButtons {
	margin: 2rem 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.ChangeEventButtons > div {
	width: 60px;
	overflow: visible;
	display: flex;
	justify-content: space-between;
}

.button {
	background-color: rgb(255, 255, 255);
	cursor: pointer;
	margin: 0 0.5rem;
	padding: 0.1875em;
	border-radius: 50%;
	border: 1px solid rgb(0, 0, 0);
	transition:
		background-color 400ms,
		border 400ms;
}
.button:hover {
	background-color: rgb(160, 160, 160);
}
#active {
	background-color: #121212;
	border: 1px solid rgb(85, 85, 85);
}
