.priceReleaseDateContainer,
.priceContainer {
	display: flex;
	flex-wrap: wrap;
}
.priceContainer {
	align-items: center;
	height: 100%;
}

.priceContainer label {
	margin-right: 0.625em;
}
.priceContainer input {
	border: none;
	outline: none;
	font-size: medium;
	color: rgb(173, 173, 173);
}

.inputContainer input {
	background-color: rgba(255, 255, 255, 0.05);
	padding: 1.25em 0.625em;
}
.priceContainer input {
	width: 100px;
}

.priceContainer input::-webkit-outer-spin-button,
.priceContainer input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

@media screen and (max-width: 40.3125rem) {
	.priceReleaseDateContainer {
		display: block;
	}
}

@media screen and (max-width: 24.75rem) {
	.priceReleaseDateContainer {
		display: block;
	}

	.priceContainer input {
		font-size: 0.75rem;
	}
}
