.imageContainer {
	margin-bottom: 2rem;
}

.name {
	font-size: 2rem;
	font-weight: 400;
}
.price {
	margin: 0.5rem 0;
}

.aspectRatioClassName {
	padding-bottom: calc(100% / 16 * 9);
}

@media screen and (max-width: 1600px) and (min-width: 56.25rem) {
	.imageContainer {
		margin-bottom: 1rem;
	}
}
@media screen and (max-width: 75rem) and (min-width: 56.25rem) {
	.name {
		font-size: 1.2rem;
	}
}

@media screen and (max-width: 56.25rem) {
	.imageContainer {
		margin-bottom: 1rem;
	}
	.name {
		font-size: 1rem;
	}
	.price {
		margin: 0.3rem 0;
	}
}
