.priceContainer {
	display: flex;
	white-space: nowrap;
	margin: 5px 0;
	width: 100%;
}

.price {
	margin-left: 5px;
}

@media only screen and (max-width: 48rem) {
	.priceContainer {
		justify-content: center;
		text-align: center;
		align-items: center;
	}
}
