.profilePhotoButton {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	max-width: 20rem;
	max-height: 20rem;
	border-radius: 4px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}

.profileImageContainer {
	width: 100%;
	position: relative;
}

.inputField {
	display: none;
}

.aspectRatioClassName {
	padding-bottom: 100%;
}
