.profilePhotoButton {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	max-width: 20rem;
	max-height: 20rem;
	border-radius: 4px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}

.profileImageContainer {
	width: 100%;
	padding-bottom: 100%;
	position: relative;
}
.profileImageContainer img {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.inputField {
	display: none;
}

.uploadIcon {
	position: absolute;
	width: 2rem;
	left: 0px;
	bottom: 0px;
	background-color: #a5a5a593;
	padding: 2px;
	border-radius: 0 4px 0 0;
}
