.carouselItems {
	width: 100%;
	padding-bottom: calc((9 / 16) * 100%);
	display: flex;
	justify-content: center;
}
@media only screen and (max-width: 48rem) {
	.carouselItems {
		padding-bottom: calc(1.34 / 1 * (100% - 20vw));
		height: 100%;
	}
}
