.playPauseButton {
	border: none;
	background: none;
	padding: 0 0.625em;
	height: 100%;
	display: flex;
	align-items: center;
	cursor: pointer;
}
.playPauseButton > svg {
	width: 0.75rem;
	height: 0.75rem;
}
