.playPauseButton {
	border: none;
	background: none;
	padding: 0.625em;
	height: 100%;
	cursor: pointer;
}
.playPauseButton > span {
	width: 12px;
	height: 12px;
	display: block;
}
.playPauseButton > span > svg {
	width: 100%;
	height: 100%;
}
