.cardsContainer {
	margin-top: 1.25rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.cardsWrapper {
	max-width: 929px;
	overflow: hidden;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}
.individualGameBannerCards {
	list-style: none;
	display: flex;
	justify-content: flex-start;
}

.btn {
	width: 32px;
	height: 32px;
	border: 1px solid rgb(92, 92, 92);
	padding: 8px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: background-color 200ms;
}
.btn:active {
	background-color: rgb(73, 73, 73);
}

.prevBtn {
	rotate: -90deg;
}

.nextBtn {
	rotate: 90deg;
}

@media (max-width: 2134px) and (min-width: 1700px) {
	.cardsWrapper {
		max-width: 811px;
	}
}
@media (max-width: 1699px) and (min-width: 1464px) {
	.cardsWrapper {
		max-width: 693px;
	}
}
@media (max-width: 1463px) and (min-width: 1440px) {
	.cardsWrapper {
		max-width: 575px;
	}
}
@media (max-width: 1439px) and (min-width: 1260px) {
	.cardsWrapper {
		max-width: 510px;
	}
}
@media (max-width: 1259px) and (min-width: 1024px) {
	.cardsWrapper {
		max-width: 405px;
	}
}

@media (max-width: 1023px) and (min-width: 860px) {
	.cardsWrapper {
		max-width: 510px;
	}
}

@media (max-width: 859px) and (min-width: 48.0625rem) {
	.cardsWrapper {
		max-width: 405px;
	}
}
@media (max-width: 48rem) and (min-width: 612px) {
	.cardsWrapper {
		max-width: 510px;
	}
}
@media (max-width: 611px) and (min-width: 530px) {
	.cardsWrapper {
		max-width: 405px;
	}
}

@media (max-width: 529px) and (min-width: 404px) {
	.cardsWrapper {
		max-width: 300px;
	}
}

@media (max-width: 403px) and (min-width: 312px) {
	.cardsWrapper {
		max-width: 195px;
	}
}
@media only screen and (max-width: 311px) {
	.cardsWrapper {
		max-width: 90px;
	}
}
