.header {
	width: 100%;
	height: 4.5rem;
}

.firstNavbar {
	display: flex;
	align-items: stretch;
	width: 100%;
	height: 100%;
	background-color: #222222;
	position: relative;
	z-index: 3;
}
.navOptions {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.gamologyLogo {
	display: flex;
	justify-content: center;
	align-items: center;
	transition: filter 300ms;
	padding: 0 1rem;
	cursor: pointer;
}
.gamologyLogo:hover {
	filter: brightness(1.5);
}
.gamologyLogoImg {
	width: 60px;
}

@media only screen and (max-width: 768px) {
	.header {
		position: relative;
		z-index: 5;
	}
}
