.gameCard {
	margin-bottom: 3rem;
}

.header {
	max-width: 30rem;
	width: 100%;
}
.headerBtnContainer {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: flex-end;
}
.btn {
	padding: 0.5rem 1rem;
	border-radius: 4px;
}
.deleteModalFooter {
	display: flex;
	justify-content: flex-end;
	gap: 1rem;
}

.yesBtn {
	background-color: rgb(153, 0, 0);
	color: white;
}
.noBtn {
	background-color: rgba(0, 255, 0, 0.5);
	color: white;
}
