.outerOptionContainer {
  cursor: pointer;
}

.optionButton {
  cursor: pointer;
  background: transparent;
  border: none;
  text-align: left;
  position: relative;
}

.outerOption,
.innerOption {
  padding: 0.6rem 0 0.6rem 0;
  display: flex;
  align-items: center;
}

.iconContainer {
  width: 1.2rem;
  height: 100%;
  margin: 0 1rem;
  display: flex;
  align-items: center;
}

.iconContainer svg {
  width: 100%;
  height: 100%;
  fill: rgb(196, 196, 196);
}

.outerOption,
.innerOption {
  font-size: 1rem;
  color: rgb(196, 196, 196);
  width: 100%;
  transition: background-color 100ms;
}

.outerOption:hover,
.innerOption:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.innerOptionsContainer {
  list-style-type: none;
  transition: height 300ms;
  overflow: hidden;
}

.arrowButton {
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
