.priceReleaseDateContainer,
.priceContainer {
  display: flex;
  flex-wrap: wrap;
}

.releaseContainer,
.priceContainer {
  position: relative;
  height: 100%;
}

.priceContainer {
  display: flex;
  align-items: center;
}

.priceContainer label {
  margin-right: 10px;
}
.releaseContainer {
  margin-left: 30px;
  width: fit-content;
}
.releaseComponent:not(:last-child) {
  margin-right: 10px;
}
.releaseDateWidthText {
  display: flex;
  align-items: center;
}
.releaseDate {
  display: flex;
  margin-left: 10px;
  width: 100%;
}
.releaseDay {
  width: 100px;
}
.releaseMonth {
  width: 150px;
}
.releaseYear {
  width: 100px;
}
.inputContainer {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 20px 10px;
}
.priceContainer input {
  width: 100px;
}

.priceContainer input::-webkit-outer-spin-button,
.priceContainer input::-webkit-inner-spin-button,
.releaseContainer input::-webkit-outer-spin-button,
.releaseContainer input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.priceContainer input {
  border: none;
  outline: none;
  background-color: transparent;
  -moz-appearance: textfield;
  outline: none;
  font-size: medium;
  background: transparent;
  color: rgb(173, 173, 173);
}

@media screen and (max-width: 612px) {
  .priceReleaseDateContainer {
    display: block;
  }
  .releaseContainer,
  .releaseDate,
  .releaseDateWidthText {
    align-items: start;
    flex-direction: column;
    margin: 0;
  }

  .releaseComponent {
    margin-top: 10px;
    margin-right: 0px;
  }
  .releaseContainer {
    margin-left: 0;
    margin-top: 20px;
  }
  .releaseDate {
    margin: 0;
  }
}

@media screen and (max-width: 272px) {
  .priceReleaseDateContainer {
    display: block;
  }
  .releaseContainer {
    margin-left: 0;
    margin-top: 20px;
  }

  .priceContainer input,
  .releaseContainer input {
    font-size: 12px;
  }
  .priceContainer label,
  .releaseContainer label {
    margin-right: 10px;
  }

  .releaseContainer input:last-child {
    width: 50px;
  }
}
