.volumeBtn {
  border: none;
  background: none;
  padding: 10px;
  height: 100%;
  cursor: pointer;
}
.volumeBtn > span {
  width: 12px;
  height: 12px;
  display: block;
}
.volumeBtn > span > svg {
  width: 100%;
  height: 100%;
}
