.discountPrice {
	width: fit-content;
	height: 100%;
	color: rgb(226, 226, 226);
	text-align: right;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	column-gap: 5px;
}

.regular {
	scale: 0.9;
	color: rgb(145, 145, 145);
	display: inline-block;
	text-decoration: line-through;
	text-decoration-color: rgb(222, 222, 222);
}

.discount {
	text-decoration: none;
}
