.footer {
	width: fit-content;
	height: fit-content;
	position: fixed;
	scale: 1 1;
	overflow: hidden;
	transition: scale 200ms;
	transform-origin: left;
	max-width: 13rem;
	left: 1rem;
	bottom: 0.5rem;
	z-index: 5;
}

.footerHide {
	scale: 0 1;
}

.footerLinks {
	list-style: none;
	font-size: 12px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	column-gap: 1rem;
}
.footerLink {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.4);
}

.footerLink:hover {
	text-decoration: underline;
}

.footerCopyWrite {
	margin-top: 5px;
	color: rgba(255, 255, 255, 0.4);
	font-size: 12px;
}

.gamologyText {
	background: linear-gradient(to right, #8300ff, #b000ff, #dc00ff);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 600;
}
