.toast {
	display: inline-flex;
	width: max-content;
	max-width: 100%;
	align-items: center;
	color: #fff;
	padding: 1rem 1.5rem 1rem 1rem;
	background-color: #2f2f2f;
	border-radius: 4px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	margin-bottom: 16px;
	position: relative;
	transform: translateX(100%);
	transition: transform 400ms;
	pointer-events: auto;
}
.success {
	border-left: 4px solid #007e33;
	background-image: linear-gradient(125deg, rgba(0, 126, 51, 0.25), rgba(0, 126, 51, 0) 50%);
}

.error {
	border-left: 4px solid #cc0000;
	background-image: linear-gradient(125deg, rgba(204, 0, 0, 0.25), rgba(204, 0, 0, 0) 50%);
}

.warning {
	border-left: 4px solid #ff8800;
	background-image: linear-gradient(125deg, rgba(255, 136, 0, 0.25), rgba(255, 136, 0, 0) 50%);
}

.info {
	border-left: 4px solid #0099cc;
	background-image: linear-gradient(125deg, rgba(0, 153, 204, 0.25), rgba(0, 153, 204, 0) 50%);
}

.show {
	transform: translateX(-1rem);
	transition: transform cubic-bezier(0.68, -0.55, 0.27, 1.55) 400ms;
}

.icon {
	height: 2rem;
	width: 2rem;
}

.content {
	margin-left: 1.5rem;
}

.title {
	font-size: 1.25rem;
	font-weight: 500;
	margin-bottom: 0.5rem;
}

.crossBtn {
	width: 15px;
	height: 15px;
	background-color: transparent;
	border: none;
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
}
.cross {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 100%;
}
.cross::after,
.cross::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #aaaaaa;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	transition: background-color 100ms;
}
.crossBtn:active .cross::after,
.crossBtn:active .cross::before {
	transition: background-color 0ms;
}
.cross::after {
	rotate: 45deg;
}
.cross::before {
	rotate: -45deg;
}

@media (hover: hover) and (pointer: fine) {
	.crossBtn {
		cursor: pointer;
	}
	.crossBtn:hover .cross::after,
	.crossBtn:hover .cross::before {
		background-color: #ffffff;
	}
	.crossBtn:active .cross::after,
	.crossBtn:active .cross::before {
		background-color: #686868;
	}
}
