.dynamicGameCards {
	width: 100%;
	margin-bottom: 4rem;
}

.dynamicGameCardsContainer {
	overflow: hidden;
}

.dynamicGameCardsList {
	width: 100%;
	list-style-type: none;
	display: flex;
	gap: 20px;
}

.transition {
	transition: translate 300ms;
}
