.container {
	width: 100%;
	padding: 0.6rem 0 0.6rem 0;
	display: flex;
	align-items: center;
	font-size: 1rem;
}

.hover {
	background-color: #ffffff00;
	transition:
		background-color 200ms,
		padding 200ms;
}

.hover:hover {
	background-color: #ffffff11;
}

.iconContainer {
	width: 1.2rem;
	height: 100%;
	margin: 0 1rem;
	display: flex;
	align-items: center;
}

.iconContainer svg {
	width: 100%;
	min-width: 19px;
	height: 100%;
	fill: rgb(196, 196, 196);
}

.paddingBot {
	padding-bottom: 1rem;
}

.arrow {
	position: absolute;
	width: 0.5rem;
	height: 0.5rem;
	top: 50%;
	transform: translateY(-50%);
	transition:
		top 200ms,
		right 200ms;
	transition-delay: 20ms;
}

.paddingRight {
	right: 0.5rem;
}

.arrowBottom {
	right: calc(100% - 1.9rem);
	top: calc(100% - 0.2rem);
	transition-delay: 0ms;
}
