.field {
	width: 100%;
	outline: none;
	font-size: 1rem;
	background: transparent;
	padding: 1.5625em 0.625em 0.9375em 0.625em;
	color: rgb(173, 173, 173);
	border: none;
	user-select: none;
}
.fileUploadField {
	display: none;
	pointer-events: none;
}
.fileName {
	opacity: 0;
	font-size: medium;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: rgb(173, 173, 173);
	line-height: 1.25em;
}

.fileUploadButton {
	width: 100%;
	height: 100%;
	border: none;
	padding: 1.5625em 2.5em 0.9375em 0.625em;
	text-align: left;
	position: relative;
	font-size: 1rem;
	background-color: transparent;
	border-radius: 4px;
	cursor: pointer;
	overflow: hidden;
	transition: background-color 0.2s ease;
}

.uploadImage {
	height: 28px;
	position: absolute;
	right: 10px;
	top: 50%;
	translate: 0 -50%;
}

.uploadImage svg {
	width: 100%;
	height: 100%;
}

.selected {
	opacity: 1;
}

@media screen and (max-width: 48rem) {
	.field {
		font-size: 0.75rem;
	}
	.focused {
		scale: 0.8;
	}
}
