.exploreGames {
	width: 100%;
	height: 100vh;
	min-height: 500px;
}

.exploreGamesBackground {
	width: 100%;
	height: 100vh;
	min-height: 500px;
	margin-bottom: 3rem;
	background-position: top center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-origin: border-box;
	display: flex;
	align-items: center;
	position: absolute;
	left: 0;
	overflow: hidden;
	--bars-width: 150%;
	--bars-height: 150%;
	--angle-deg: 6deg;
}

.exploreGamesBackground::before,
.exploreGamesBackground::after {
	content: '';
	position: absolute;
	background-color: #121212;
	width: var(--bars-width);
	height: var(--bars-height);
	rotate: calc(-1 * var(--angle-deg));
	z-index: 1;
}

.exploreGamesBackground::before {
	bottom: 100%;
	right: 0;
	transform-origin: bottom right;
}

.exploreGamesBackground::after {
	top: 100%;
	left: 0;
	transform-origin: top left;
}

.exploreTexts {
	position: absolute;
	width: 20%;
	top: 50%;
	translate: 0 -50%;
	left: 20%;
}
.exploreTexts h4 {
	font-size: 16px;
	font-weight: 400;
}
.exploreTexts p {
	margin: 1rem 0;
	font-size: 14px;
}

.exploreTexts a {
	position: relative;
	padding: 1rem 2rem;
	border-radius: 5px;
	margin-top: 1rem;
	display: inline-block;
	text-decoration: none;
	color: black;
	cursor: pointer;
	transition: all 300ms;
	background-color: white;
	border: 1px solid white;
	font-size: 14px;
}
.exploreTexts a:hover {
	background-color: rgba(0, 0, 0, 0.4);
	color: white;
	border: 1px solid white;
}
.exploreTexts a:active {
	background-color: rgb(78, 78, 78);
}

@media only screen and (max-width: 768px) {
	.exploreTexts {
		width: 30%;
		left: 10%;
	}

	.exploreTexts h4 {
		font-size: 14px;
	}
	.exploreTexts p,
	.exploreTexts a {
		font-size: 12px;
	}
	.exploreGames {
		width: 100%;
		aspect-ratio: 2/3;
	}

	.exploreGamesBackground {
		width: 100%;
		aspect-ratio: 2/3;
	}
}
@media only screen and (max-width: 356px) {
	.exploreTexts {
		width: 80%;
		translate: 0 -40%;
		left: 10px;
	}
}
@media only screen and (max-width: 267px) {
	.exploreTexts a {
		padding: 0.5rem 1rem;
	}
}
@media only screen and (min-width: 2134px) {
	.exploreGames {
		aspect-ratio: 5/3;
	}

	.exploreTexts h4 {
		font-size: 18px;
	}
	.exploreTexts p,
	.exploreTexts a {
		font-size: 16px;
	}
}
