.inputContainer {
	display: flex;
}
.arrowIcon {
	display: flex;
	justify-content: center;
	margin: 0 1rem;
	width: 5rem;
}

.submitBtn {
	width: 100%;
	background-image: linear-gradient(to right, #8200ff, #df00ff);
	color: white;
	border: none;
	padding: 1em 2em;
	border-radius: 0.2rem;
	cursor: pointer;
	display: block;
	margin-left: auto;
	margin-top: 1rem;
	position: relative;
}

@media only screen and (max-width: 496px) {
	.arrowIcon {
		margin: 0 0.5rem;
		width: 3rem;
	}
}
@media only screen and (max-width: 248px) {
	.inputContainer {
		flex-direction: column;
		align-items: center;
	}
	.arrowIcon {
		rotate: 90deg;
		margin: 1rem 0;
	}
}
