.shadowContainer {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
	overflow: hidden;
	border-radius: 0 5px 5px 0;
}

.shadow {
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	translate: 0 calc(-100% + 0.5px);
}
