.carouselItem {
    width: 75vw;
    max-width: 1600px;
    position: absolute;
    visibility: hidden;
}
.itemHide {
    z-index: 0;
    opacity: 0;
}
.carouselImg {
    width: 100%;
    aspect-ratio: 1.77777778/1;
}

#bannerFadeIn {
    opacity: 0;
    z-index: 1;
    visibility: visible;
    animation: 200ms cubic-bezier(0.17, 0.17, 0.23, 1) 200ms 1 normal forwards
        running fadeIn;
}
#bannerFadeOut {
    opacity: 0;
    visibility: hidden;
    animation: 300ms cubic-bezier(0.69, 0, 0.83, 0.83) 0s 1 normal forwards
        running fadeout;
}

@keyframes fadeout {
    0% {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }
    25% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        transform: translateX(-100px);
        opacity: 0;
        visibility: hidden;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    75% {
        opacity: 1;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
