.secondNavLinks {
	list-style: none;
	display: flex;
}

.option {
	margin-left: 2rem;
}
.option a {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.5);
	transition: color 200ms;
}

.option a:hover {
	color: rgba(255, 255, 255, 0.8);
}

.active {
	cursor: default;
}

.active a {
	color: #fff;
}

@media only screen and (max-width: 48rem) {
	.navLinksContainer {
		position: absolute;
		width: 100%;
		display: flex;
		overflow: hidden;
		top: 100%;
	}
	.secondNavLinks {
		display: flex;
		position: relative;
		padding: 1em;
		margin-left: 0;
		flex-direction: column;
		background-color: rgba(0, 0, 0, 0.5);
		-webkit-backdrop-filter: blur(4px);
		backdrop-filter: blur(4px);
		width: 100%;
		translate: 0 -100%;
		transition: translate 300ms;
	}

	.option {
		margin-top: 1rem;
		margin-left: 0;
	}

	.option::after {
		content: '';
		display: block;
		width: 100%;
		height: 1px;
		background-color: rgba(255, 255, 255, 0.5);
	}

	.option a {
		width: 100%;
		display: inline-block;
	}

	.navShow {
		translate: 0 0%;
		z-index: 1;
	}
}
