.gameDetails {
	margin: 3rem 0;
}
.flexContainer {
	display: flex;
	margin: 10px 0;
	width: 100%;
}

.marginRight {
	margin-left: 0.625em;
}

.header {
	font-size: 1.3rem;
	font-weight: 400;
	margin-bottom: 2.5em;
}

@media only screen and (max-width: 1023px) and (min-width: 48.0625rem) {
	.header {
		font-size: 1.2rem;
	}
}

@media only screen and (max-width: 48rem) {
	.header {
		font-size: 1rem;
	}
}

@media screen and (max-width: 1023px) {
	.flexContainer {
		display: block;
	}
	.marginRight {
		margin-left: 0px;
		margin-top: 0.625em;
	}
}
