.tagsContainer {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	margin-top: 10px;
}
.tag {
	flex-grow: 1;
	min-width: 230px;
}
@media only screen and (max-width: 264px) {
	.tag {
		min-width: 100%;
	}
}
