.sortContainer {
	position: relative;
}

.sortLists {
	position: absolute;
	width: 11rem;
	right: 0;
	opacity: 0;
	scale: 0.7;
	transition:
		opacity 200ms,
		scale 200ms;
	z-index: 1;
}

.fadeIn {
	opacity: 1;
	scale: 1;
}

@media only screen and (max-width: 768px) {
	.sortContainer {
		width: 100%;
		position: fixed;
		background-color: rgba(55, 55, 55);
		left: 0;
		bottom: 0%;
		z-index: 4;
		transition: translate 300ms;
	}
	.sortLists {
		width: 100%;
		position: relative;
		padding: 5px 10px;
		opacity: 1;
		scale: 1;
	}
	.sortLists h3 {
		padding: 5px;
	}
	.hidden {
		translate: 0 100%;
	}
	.closeButton {
		position: absolute;
		right: 10px;
		top: 10px;
		z-index: 1;
	}
}
