.container {
	margin-bottom: 3rem;
	width: 100%;
	max-width: 1600px;
}

.eventGamesContainer {
	margin: 0 -1rem;
}

.eventGames {
	width: 100%;
	display: flex;
	list-style: none;
}
.arrowBtn {
	position: sticky;
	top: 550px;
}
.prevBtn {
	width: 1rem;
	rotate: -90deg;
}
.nextBtn {
	width: 1rem;
	rotate: 90deg;
}

@media only screen and (max-width: 1023px) {
	.container {
		padding: 0 1rem;
	}
}

@media only screen and (max-width: 768px) {
	.eventGamesContainer {
		overflow: hidden;
	}
	.eventGames {
		width: 100%;
		left: 5px;
		transition: translate 400ms;
		position: relative;
		column-gap: 0rem;
	}
}
