.EventGamesContainer {
  margin-bottom: 3rem;
  width: 100%;
  max-width: 1600px;
  display: flex;
  flex-direction: column;
}
.EventGames {
  width: 100%;
  display: flex;
  list-style: none;
}

@media only screen and (max-width: 768px) {
  .EventGamesContainer {
    overflow: hidden;
  }
  .EventGames {
    width: 100%;
    left: 5px;
    transition: translate 400ms;
    position: relative;
  }
}
