.container {
	margin-bottom: 4rem;
	width: 100%;
	max-width: 1600px;
}

.eventGamesContainer {
	overflow: hidden;
	width: 100%;
}

.eventGames {
	display: flex;
	list-style: none;
	margin: 0 -1rem;
}
.arrowBtn {
	position: sticky;
	top: 550px;
}
.prevBtn {
	width: 1rem;
	rotate: -90deg;
}
.nextBtn {
	width: 1rem;
	rotate: 90deg;
}

@media only screen and (max-width: 768px) {
	.eventGames {
		transition: translate 400ms;
		position: relative;
	}
}
