.scrollContainer::-webkit-scrollbar {
	display: none;
}

.scrollContainer {
	-ms-overflow-style: none;
	scrollbar-width: none;
	overflow: hidden auto;
	perspective: 1px;
	perspective-origin: right top;
	-webkit-overflow-scrolling: touch;
}

.scrollInnerContainer {
	transform-style: preserve-3d;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 8px;
	z-index: 3;
}

.thumb {
	width: 8px;
	position: absolute;
	right: 0;
	top: 0;
	background-color: rgba(252, 252, 252, 0.5);
	transform-origin: right top;
}
