.scrollBarContainers {
	height: 100%;
	width: 10%;
	max-width: 20px;
	min-width: 8px;
	position: absolute;
	user-select: none;
	top: 0;
	right: 0;
}
.noHeight {
	display: none;
	pointer-events: none;
}
.scrollThumb {
	width: 6px;
	min-height: 1rem;
	background-color: #474747;
	position: absolute;
	right: 0;
	outline: 0;
	border: 0;
	user-select: none;
	pointer-events: none;
	opacity: 0;
	transition:
		background-color 200ms,
		opacity 200ms;
}
.scrollThumb:hover {
	background-color: #5a5959;
}
.scrollThumb:active {
	background-color: #363636;
}
.show {
	opacity: 1;
	pointer-events: auto;
}
