.allGamesHeader {
  margin-bottom: 2rem;
  height: 40px;
}
.searchField {
  position: relative;
  z-index: 1;
}
.searchShow {
  z-index: 3;
}
.shadow {
  position: absolute;
  visibility: hidden;
  width: 100%;
  height: 100vh;
  top: -1rem;
  z-index: 2;
  overflow: hidden;
}
.shadowShow {
  visibility: visible;
}
