.buttonPosition {
	position: sticky;
	bottom: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	pointer-events: none;
}
.buttonContainer {
	max-width: 200px;
	background-color: rgb(0, 0, 0);
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: center;
	padding: 5px 10px;
	border-radius: 5px;
	pointer-events: visible;
}

.sortButton,
.filterButton {
	/* width: 50%; */
	background-color: transparent;
	color: rgb(190, 190, 190);
	font-size: 16px;
	font-weight: 500;
	padding: 5px;
	border: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
}

.sortButton span,
.filterButton span {
	margin-left: 10px;
}

.verticalLine {
	border-left: 2px solid #222222;
	margin: 0 10px;
}

.sortButton img,
.filterButton img {
	width: 20px;
	height: 20px;
}

@media screen and (max-width: 210px) {
	.buttonContainer {
		max-width: 150px;
	}
	.sortButton,
	.filterButton {
		font-size: 10px;
	}
}
