.EventGames {
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 75vw;
    max-width: 1600px;
    display: flex;
}
@media only screen and (max-width: 765px) {
    .EventGames {
        width: 98vw;
    }
}

@media (max-width: 1023px) and (min-width: 766px) {
    .EventGames {
        width: 97vw;
    }
}
