.EventGamesContainer {
    margin-bottom: 3rem;
    width: 75vw;
    max-width: 1600px;
    display: flex;
    flex-direction: column;
}
.EventGames {
    width: 100%;
    display: flex;
}

@media (max-width: 1023px) and (min-width: 768px) {
    .EventGamesContainer {
        width: 97vw;
    }
}

@media only screen and (max-width: 767px) {
    .EventGamesContainer {
        width: 100%;
        overflow: hidden;
    }
    .EventGames {
        width: 100%;
        left: 5px;
        transition: translate 400ms;
        position: relative;
    }
}
