.individualGameSpecifications {
  margin-top: 90px;
}
.specificationText {
  margin-bottom: 10px;
  font-weight: 500;
}
.specificationContainer {
  background: #252525;
  padding: 60px 90px;
  border-radius: 4px;
}

.mainHeadersContainer {
  display: flex;
  margin-bottom: 50px;
  position: relative;
  align-items: stretch;
}

.mainHeadersContainer::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.1);
}

.mainHeader:not(:first-child) {
  margin-left: 40px;
}

.mainHeaderBtn {
  position: relative;
  font-size: 18px;
  height: 100%;
  font-weight: normal;
  text-transform: uppercase;
  padding: 20px;
  background-color: transparent;
  color: #fff;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.mainHeaderBtn::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  transition: background-color 300ms;
}

.mainHeaderBtn:hover::after {
  background-color: rgba(255, 255, 255, 0.5);
}

.active::after {
  background-color: rgba(255, 255, 255, 0.5);
}

.copyWrite {
  color: #aaa;
  font-size: 16px;
  text-align: center;
}
.policyContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.policy {
  margin-top: 20px;
  color: #ffffff;
  text-decoration: none;
}

@media only screen and (max-width: 730px) and (min-width: 370px) {
  .specificationContainer {
    padding: 20px 40px;
  }
  .mainHeaderBtn {
    padding: 15px;
  }
}

@media only screen and (max-width: 369px) {
  .specificationContainer {
    padding: 10px 20px;
  }
  .mainHeaderBtn {
    padding: 10px;
  }
  .mainHeader:not(:first-child) {
    margin-left: 10px;
  }
}
