.individualGameReview {
  margin-top: 50px;
}
.reviewContainer {
  background: #252525;
  padding: 35px 60px;
  overflow: auto;
}
.reviewMainHeader {
  margin-bottom: 10px;
  font-weight: 500;
}

@media only screen and (max-width: 768px) {
  .reviewContainer {
    padding: 1.5rem;
  }
}
