.banner {
	position: relative;
	margin-top: 5%;
	margin-bottom: 8rem;
	user-select: none;
	width: 100%;
}

.bannerOverflow {
	overflow: hidden;
	position: relative;
}

@media only screen and (max-width: 48rem) {
	.bannerOverflow {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.banner {
		margin-top: 2rem;
	}
}
