.gameDetails {
  margin: 3rem 0;
}
.textFieldContainer {
  display: flex;
  margin: 10px 0;
}

.field:last-child {
  margin-left: 10px;
}

@media screen and (max-width: 1023px) {
  .textFieldContainer {
    display: block;
  }
  .field:last-child {
    margin-left: 0px;
    margin-top: 10px;
  }
}
