.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.btnImg {
  fill: #ffffff3d;
  transition: fill 500ms;
}

@media only screen and (hover: hover) {
  .btn:hover .btnImg {
    fill: rgb(255, 255, 255);
  }
}
