.mainContent {
	width: 100%;
	height: calc(100vh - 4.5rem);
}
.main {
	width: 75%;
	max-width: 160rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
}

@media only screen and (max-width: 63.9375rem) {
	.main {
		width: 100%;
	}
}
