.cardNameContainer {
	position: absolute;
	height: 100%;
	top: 0;
	left: 100%;
	z-index: 0;
	overflow: hidden;
}

.cardName {
	position: relative;
	background-color: rgba(0, 0, 0, 0.507);
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	translate: -100% 0px;
	transition: translate 200ms;
	border-radius: 0 5px 5px 0;
	font-size: 14px;
}

.cardNameText {
	padding: 0 10px;
}

.fadeIn {
	translate: 0px 0px;
	transition: translate 300ms 450ms;
}
