.RotateArrow {
    width: 24px;
    height: 24px;
}

#arrowDown {
    animation: UpToDown 150ms ease-in-out 0ms 1 normal forwards;
}
#arrowUp {
    animation: DownToUp 150ms ease-in-out 0ms 1 normal forwards;
}

@keyframes DownToUp {
    0% {
        rotate: 180deg;
    }
    100% {
        rotate: 360deg;
    }
}
@keyframes UpToDown {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 180deg;
    }
}
