@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
html {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	font-family: 'Inter', sans-serif;
}

body {
	background-color: #121212;
	color: rgb(222, 222, 222);
}
#root {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
:not(:root):fullscreen {
	object-fit: contain;
	user-select: text;
	position: fixed;
	box-sizing: border-box;
	min-width: 0px;
	max-width: none;
	min-height: 0px;
	max-height: none;
	width: 100%;
	height: 100%;
	transform: none;
	inset: 0px;
	margin: 0px;
}
:not(:root):fullscreen::backdrop {
	position: fixed;
	inset: 0px;
	background: black;
}
.margin-right-6px {
	margin-right: 6px;
}

.overflow-y-hidden {
	overflow-y: hidden;
}

.grabbing {
	cursor: grabbing;
}

/* Common css */

.scroll-style {
	scrollbar-color: transparent transparent;
	scrollbar-width: thin;
	transition: scrollbar-color 200ms;
}

.scroll-style:hover {
	scrollbar-color: #474747 transparent;
}

.loading {
	background-image: linear-gradient(
		90deg,
		rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 0) 10%,
		rgba(255, 255, 255, 0.04) 20%,
		rgba(255, 255, 255, 0.06) 30%,
		rgba(255, 255, 255, 0.1) 50%,
		rgba(255, 255, 255, 0.06) 70%,
		rgba(255, 255, 255, 0.03) 80%,
		rgba(255, 255, 255, 0) 90%,
		rgba(255, 255, 255, 0) 100%
	);
	background-size: 1000% 100%;
	background-position: 0 0;
	animation: shimmer 30000ms linear infinite forwards 250ms;
}
@keyframes shimmer {
	0% {
		background-position: -1000% 0;
	}
	100% {
		background-position: 1000% 0;
	}
}

@media (hover: hover) and (pointer: fine) {
	.hover-shadow:hover {
		filter: drop-shadow(0px 0px 5px rgba(141, 141, 141, 0.616)) brightness(1.1);
	}
	.scroll-style::-webkit-scrollbar {
		width: 6px;
		background-color: transparent;
	}

	.scroll-style::-webkit-scrollbar-thumb {
		background-color: #47474700;
	}

	.scroll-style:hover::-webkit-scrollbar-thumb {
		background-color: #5a5959;
	}

	.scroll-style::-webkit-scrollbar-thumb:active {
		background-color: #363636;
	}
}
