.mainContentContainer {
	display: flex;
	column-gap: 4rem;
}

.bannerHeader {
	margin-bottom: 1rem;
}
.name {
	font-size: 3rem;
	font-weight: 400;
}

.indiGameMainDetail {
	width: calc(100% - 320px - 4rem);
	flex-grow: 1;
}
.asideDetail {
	width: 320px;
	display: flex;
}

@media only screen and (max-width: 79.9375rem) {
	.mainContentContainer {
		column-gap: 1.5rem;
	}
	.indiGameMainDetail {
		width: calc(100% - 260px - 1.5rem);
	}
	.asideDetail {
		width: 260px;
	}
}
@media only screen and (max-width: 63.9375rem) {
	.mainContentContainer {
		column-gap: 2rem;
	}
	.indiGameMainDetail {
		width: calc(100% - 256px - 2rem);
	}
	.asideDetail {
		width: 256px;
	}
}

@media (max-width: 48rem) {
	.mainContentContainer {
		flex-direction: column-reverse;
		column-gap: 0;
	}
	.indiGameMainDetail {
		width: 100%;
	}
	.asideDetail {
		width: 100%;
	}
}
