.thumb {
	width: 8px;
	position: absolute;
	right: 0;
	top: 0;
	background-color: rgba(252, 252, 252, 0.5);
	transform-origin: right top;
	z-index: 10;
	pointer-events: initial;
}
.thumbPath {
	width: 8px;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
}
