.freeGames {
  margin-bottom: 3rem;
  width: 75vw;
  max-width: 1600px;
  position: relative;
  background-color: #3d3d3d;
  padding: 2rem;
  border-radius: 5px;
}

.header {
  display: flex;
  align-items: center;
}
.header h3 {
  font-weight: 400;
}
.viewMoreBtn {
  margin-left: auto;
  background-color: #1a1a1a;
  position: relative;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.viewMoreBtn:hover {
  background-color: #2a2a2a;
}
.games {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.header img {
  width: 2rem;
  margin-right: 1rem;
}

@media (max-width: 1023px) {
  .freeGames {
    width: 98%;
    padding: 1rem;
  }
  .header h3 {
    font-size: 14px;
  }
}
