.card {
	width: 100%;
	flex: 0 0 auto;
	display: flex;
	flex-direction: column;
	transition: filter 300ms;
	position: relative;
}

.name {
	font-weight: 500;
	font-size: 1rem;
	margin: 0.625rem 0 0.3125rem 0;
	flex-grow: 1;
}

.cardImg {
	width: 100%;
	border-radius: 4px;
	position: relative;
}
.cardImg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.price {
	width: 100%;
}

.aspectRatioClassName {
	padding-bottom: calc(100% / 3 * 4);
}

@media screen and (max-width: 1600px) {
	.name {
		font-size: 0.875rem;
	}
}
