.dashboard {
  width: 100%;
  height: calc(100vh - 72px);
  display: flex;
  gap: 1rem;
}

@media (max-width: 1023px) and (min-width: 766px) {
  .dashboard {
  }
}

@media only screen and (max-width: 768px) {
  .dashboard {
  }
}

