.dashboard {
	width: 100%;
	display: flex;
	align-items: flex-start;
	column-gap: 1rem;
	position: relative;
}

@media only screen and (max-width: 68.75rem) {
	.dashboard {
		column-gap: 0;
	}
}
