.marginBot {
  margin-bottom: 10px;
}
.container {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.05);
  border: 2px solid transparent;
  border-radius: 4px;
  font-size: 1rem;
  position: relative;
  transition: border 0.2s ease;
  color: rgb(173, 173, 173);
}
.marginBot {
  margin-bottom: 10px;
}
.fileName {
  opacity: 0;
  font-size: medium;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgb(173, 173, 173);
  line-height: 20px;
}

.label {
  position: absolute;
  pointer-events: none;
  color: rgb(173, 173, 173);
  user-select: none;
  left: 10px;
  top: 0;
  translate: 0 20px;
  transform-origin: 0 0;
  transition:
    scale 200ms cubic-bezier(0, 0, 0.2, 1),
    translate 200ms cubic-bezier(0, 0, 0.2, 1),
    color 200ms cubic-bezier(0, 0, 0.2, 1);
}

.field {
  width: 100%;
  outline: none;
  font-size: 1rem;
  background: transparent;
  padding: 25px 10px 15px 10px;
  color: rgb(173, 173, 173);
  border: none;
  user-select: none;
}

.textFilled {
  translate: 0 5px;
  scale: 0.8;
  color: rgb(173, 173, 173);
}
.focused {
  translate: 0 5px;
  scale: 0.8;
  color: rgb(2, 99, 224);
}

.padding {
  padding: 20px 10px;
}
.activeBorder {
  border: 2px solid rgba(1, 81, 185, 0.733);
}
#active {
  color: rgb(2, 99, 224);
}
.defaultText {
  cursor: default;
  user-select: none;
}
.fileUploadField {
  display: none;
  pointer-events: none;
}
.errorColor {
  color: #cc2a24;
}
.error {
  border: 2px solid #cc2a24;
}

.fileUploadButton {
  width: 100%;
  height: 100%;
  border: none;
  padding: 25px 40px 15px 10px;
  text-align: left;
  position: relative;
  font-size: 1rem;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;
  transition: background-color 0.2s ease;
}

.uploadImage {
  height: 28px;
  position: absolute;
  right: 10px;
  top: 50%;
  translate: 0 -50%;
}

.uploadImage svg {
  width: 100%;
  height: 100%;
}

.selected {
  opacity: 1;
}
.focusBorder {
  border: 2px solid rgba(1, 81, 185, 0.733);
}

@media screen and (max-width: 768px) {
  .label {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .field {
    font-size: 12px;
  }
  .focused {
    scale: 0.8;
  }
}

