.cardsContainer {
	padding: 1.25em 0.5em;
	margin: 0 -0.5rem;
	max-width: 100vw;
	overflow-x: hidden;
}

.cardSlider {
	list-style: none;
	position: relative;
	display: flex;
	align-items: start;
}
.transition {
	transition: translate 200ms;
}
