#first {
    translate: 350% 200%;
}

#two {
    translate: 200% 80%;
}

#three {
    translate: 0 -40%;
}

#four {
    translate: 0 440%;
}

#five {
    translate: 200% 320%;
}

#three :hover,
#two :hover,
#five :hover,
#four :hover {
    cursor: pointer;
}

.cards {
    position: absolute;
    z-index: 1;
    transition: translate 300ms cubic-bezier(0.66, 0, 0.11, 0.95);
}

.cards button {
    padding: 0;
    border: 0;
    background-color: transparent;
    width: 6.15vw;
    max-width: 8.25rem;
    aspect-ratio: 1/1.3375;
}

.cards img {
    border-radius: 5px;
    width: 100%;
    aspect-ratio: 1/1.3375;
}

.cardName {
    padding: 0 10%;
    background-color: rgba(0, 0, 0, 0.507);
    position: absolute;
    height: 8.225625vw;
    max-height: 11.034375rem;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    opacity: 0;
    transition: translate 0.2s, opacity 500ms;
    border-radius: 0 5px 5px 0;
    font-size: 0.8rem;
}

#first .cardName {
    translate: 6.05vw;
    opacity: 1;
    transition-delay: 0.5s;
}

#first .cardName::after {
    content: '';
    background-color: rgb(22, 22, 22);
    z-index: -1;
    top: 0;
    width: 100%;
    position: absolute;
    animation: upToDown 8s linear 500ms 1 forwards normal;
    border-radius: 0 5px 5px 0;
}

@media only screen and (min-width: 2134px) {
    #first .cardName {
        translate: 8.25rem;
        opacity: 1;
        font-size: 1.5rem;
    }
}

#first img {
    border-radius: 5px 0 0 5px;
}

@keyframes upToDown {
    0% {
        height: 0%;
    }

    100% {
        height: 100%;
    }
}

@media only screen and (max-width: 1023px) {
    .cards button {
        background-color: transparent;
        width: 7.84vw;
        aspect-ratio: 1/1.4;
    }

    #first .cardName {
        translate: 7.84vw;
    }

    #first img {
        border-radius: 5px 0 0 5px;
    }

    .cardName {
        height: 10.576vw;
        aspect-ratio: 1/1.4;
    }
}
