.confirmBtn {
	background-color: #f44336;
	color: white;
	border: none;
	cursor: pointer;
	width: 100%;
	padding: 10px 24px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	font-size: 16px;
	font-weight: 500;
	transition: 0.3s;
}
