.editFooterHeader {
	margin-bottom: 1rem;
}
.editFooterHeaderContainer {
	margin-bottom: 1em;
	transition: height 200ms;
}

.editFooterButton {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-bottom: 1rem;
}

.editFooterButtons {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
}
